@typeparam Titem

@if (MyList is null) // Si la lista es nula (indicando que está cargando)
{
    @if (Loading is null) // Si no se ha proporcionado un fragmento de carga personalizado
    {
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700" />
        </div>
    }
    else
    {
        @Loading
        // Usa el fragmento de carga personalizado
    }
}
else if (MyList.Count == 0) // Si la lista está vacía
{
    @if (NoRecords is null) // Si no se ha proporcionado un fragmento de "sin registros" personalizado
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
        // Usa el fragmento de "sin registros" personalizado
    }
}
else // Si hay registros
{
    @Body
    // Renderiza el contenido principal proporcionado
}

@code {
    [Parameter]
    public RenderFragment? Loading { get; set; } // Fragmento para mostrar durante la carga

    [Parameter]
    public RenderFragment? NoRecords { get; set; } // Fragmento para mostrar cuando no hay registros

    [EditorRequired]
    [Parameter]
    public RenderFragment Body { get; set; } = null!; // Contenido principal a renderizar

    [EditorRequired]
    [Parameter]
    public List<Titem> MyList { get; set; } = null!; // La lista de ítems a mostrar
}